{% extends "base.html" %}
{% block content %}
{% if request.user.is_applicant %}
{%if not request.user.has_resume%}
<div class="alert alert-danger" role="alert">
    <b>You are seeing this because you have not created any resume. Create one from <a href="{% url 'update-resume'%}">Here</a></b>
  </div>
  {%endif%}
<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="dispaly-5 fw-bold">Welcome Job Portal</h1>
        <div class="col-md-6 fs-4">
            Applicants Dashboard
        </div>
    </div>
    
</section>
{% elif request.user.is_recruiter %}
{%if not request.user.has_company%}
<div class="alert alert-danger" role="alert">
    <b>You are seeing this because you have not created any company. Create one from <a href="{% url 'update-company'%}">Here</a></b>
  </div>
  {%endif%}
<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="dispaly-5 fw-bold">Welcome Job Portal</h1>
        <div class="col-md-6 fs-4">
            A recruiter Dashboard
        </div>
    </div>
    
</section>




{% endif %}
{% endblock content %}
