{% extends "users/base.html" %} {% load widget_tweaks %} {% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-title text-center">Enter new password</h4>

        <div class="card-body">
            <h5>Please enter your new password twice so we can verify you typed it in correctly. </h5>
          <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
                
            {{form}}
            </div>
             
            <button type="submit" class="btn btn-primary">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
